@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1 class="text-center" style="margin-bottom: 30px; font-family: Roboto">Departments</h1>
<a asp-action="Create" class="btn btn-primary" style="float: right">Add Department</a><br /><br />
<div class="form-row" style="padding: 15px 0; border-top: 2px solid grey; border-bottom: 2px solid grey; margin-bottom: 0">
    <strong class="form-inline col-md-10">
        <span class="col-md-3">
            @Html.DisplayNameFor(model => model.Name)
        </span>
        <span class="col-md-3">
            @Html.DisplayNameFor(model => model.Budget)
        </span>
        <span class="col-md-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </span>
        <span class="col-md-3">
            @Html.DisplayNameFor(model => model.Administrator)
        </span>
    </strong>
</div>
@foreach (var item in Model)
{
    <div class="form-row" style="padding: 15px 0; border-bottom: 1px solid grey; margin-bottom: 0">
        <a asp-action="Details" asp-route-id="@item.DepartmentID" class="form-inline col-md-10">
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.Budget)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.StartDate)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.Administrator.FullName)</div>
        </a>
        <div class="col-md-2">
            <a asp-action="Delete" asp-route-id="@item.DepartmentID" class="btn btn-danger btn-sm" style="float: right; margin-right: 15px; padding: 0 5px">Delete</a>
            <a asp-action="Edit" asp-route-id="@item.DepartmentID" class="btn btn-primary btn-sm" style="float: right; margin-right: 10px; padding: 0 12px">Edit</a>
        </div>
    </div>
}
