@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center" style="margin-bottom: 30px">Student Details</h1>
<hr />
<div class="offset-4 col-md-4">
    <dl class="row" style="margin-bottom: 0">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd class="col-sm-7">
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
    <div>
        <a asp-action="Index" class="btn btn-primary">Back</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    </div>
</div>
